langchain
langchain-community
langchain-core
langchain-ollama
langchain-text-splitters
langgraph
langgraph-api
langgraph-checkpoint
langgraph-cli
langgraph-sdk
langgraph-checkpoint-postgres
langsmith
numpy
ollama
pydantic
python-dotenv
wikipedia
tavily-python
ruff
rich
langchain-openai